<launch>
    <node
    pkg = 'my_sphero_topics'
    name = 'cmd_vel_publisher'
    type = 'topic_publisher.py'
    output = 'screen'
    />
    <node
    pkg = 'my_sphero_topics'
    name = 'imu_subscriber'
    type = 'topic_subscriber_imu.py'
    output = 'screen'
    />
    <node
    pkg = 'my_sphero_topics'
    name = 'odom_subscriber'
    type = 'topic_subscriber_odom.py'
    output = 'screen'
    />
</launch>
